*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: gray;
}

.brand-text {
    font-size: xx-large;
    color: #0000cd;
    background-color: inherit;
}

.title-text {
    font-size: xx-large;
    color: #2a52be;
    background-color: inherit;
}

.normal-text {
    color: #2a52be;
    background-color: inherit;
}

.navbar-text {
    font-size: large;
    color: gray;
    background-color: inherit;
}

.footer-background {
    background-color: #536895;
    color: #536895;
}